.Conciertos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DCD9D0;
    background-image: url(../imagenes/patrón\ lineas_insurgentes-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}